@use '../abstracts/' as *;

.landing__different {
    padding-top: 17.2rem;
    color: var(--clr-very-dark-violet);
    text-align: center;
    background-color: var(--clr--white);

    @media (min-width: $desktop) {
        padding: 36.7rem 13rem 0 16.8rem;
        text-align: left;
    }
}

.different__title {
    position: relative;
    font-family: var(--ff-heading);
    font-size: var(--fs-h1-mobile);
    font-weight: var(--fw-regular);

    &::before {
        content: '';
        position: absolute;
        top: -3.2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        height: 0.1rem;
        background-color: var(--clr-dark-grayish-violet);
    }

    @media (min-width: $desktop) {
        padding-right: 4rem;
        font-size: var(--fs-h1-desktop);
        line-height: 0.95;

        &::before {
            top: -6.4rem;
            left: 7.5rem;
            width: 15rem;
            height: 0.2rem;
        }
    }
}

.different__grid-container {
    margin-top: 7rem;

    @media (min-width: $desktop) {
        margin-top: 9.3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.different__text-container:not(:first-child) {
    margin-top: 5.5rem;

    @media (min-width: $desktop) {
        margin-top: 0;
    }
}

.different__illustration-container {
    width: 8.8rem;
    height: 8.8rem;
    margin: 0 auto;
    background-color: var(--clr-grayish-blue);
    border-radius: 50%;

    @media (min-width: $desktop) {
        margin: 0;
    }
}

.different__text-container:first-child .different__illustration-container {
    background-image: url(../../images/icon-snappy-process.svg);
}

.different__text-container:nth-child(2) .different__illustration-container {
    background-image: url(../../images/icon-affordable-prices.svg);
}

.different__text-container:nth-child(3) .different__illustration-container {
    background-image: url(../../images/icon-people-first.svg);
}

.different__text__title {
    margin-top: 3.5rem;
    font-size: var(--fs-h3-mobile);

    @media (min-width: $desktop) {
        margin-top: 3.7rem;
    }
}

.different__text__text {
    margin-top: 1.8rem;
    padding: 0 1rem;
    font-family: var(--ff-body);
    font-size: var(--fs-normal-mobile);
    color: var(--clr-dark-grayish-violet);
    line-height: 1.6;

    @media (min-width: $desktop) {
        margin-top: 1.8rem;
        padding: 0;
        padding-right: 3rem;
        font-size: var(--fs-normal-desktop);
    }
}