@use '../abstracts/' as *;

.landing__different {
    position: relative;
    color: var(--clr-very-dark-violet);
    text-align: center;
    background-color: var(--clr--white);

    @media (min-width: $desktop) {
        padding: 10.55rem 13rem 0 16.8rem;
        text-align: left;
    }

}