@use '../abstracts/' as *;

body {
    min-height: 100vh;   
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal-mobile);
    background-color: var(--clr-very-light-gray);

    @media (min-width: $desktop) {
        font-size: var(--fs-normal-desktop);
    }
}

.landing__container {
    position: sticky;
    margin: 0 auto; 
    width: 37.5rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 1rem var(--clr-bs);

    

    @media (min-width: $desktop) {
        //max-width: 144rem;
        width: 144rem;
    }
}