:root {  
    // font families
    --ff-heading: 'DM Serif Display', serif;
    --ff-body: 'Karla', sans-serif;

    // font sizes
    --fs-normal-mobile: 1.6rem;
    --fs-nav-mobile: 1.9rem;
    --fs-h1-mobile: 4.8rem;
    --fs-h2-mobile: 3.8rem;
    --fs-h3-mobile: 2.8rem;
    --fs-button-mobile: 1.3rem;
    --fs-footer-mobile: 1.3rem;

    --fs-normal-desktop: 1.6rem;
    --fs-nav-desktop: 1.4rem;
    --fs-h1-desktop: 7.1rem;
    --fs-h2-desktop: 5.5rem;
    --fs-footer-desktop: 1.35rem;


    --fs-normal-desktop: 1.6rem;
    --fs-small-desktop: 1.8rem;
    --fs-smaller-desktop: 1.65rem;
    --fs-h3-desktop: 2.35rem;
    --fs-button-desktop: 1.75rem;

    // font weights
    --fw-regular: 400;
    --fw-bold: 700;
}  